<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burger Logger: Devour!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}
	<script>
		var allRadios = document.getElementsByName('re');
		var booRadio;
		var x = 0;
		for (x = 0; x < allRadios.length; x++) {

			allRadios[x].onclick = function () {

				if (booRadio == this) {
					this.checked = false;
					booRadio = null;
				} else {
					booRadio = this;
				}
			};

		}
	</script>
</body>

</html>